<div class="container">
    <div>
        <form name="getNpmSuggestions" autocomplete="off">
            <input 
                name="packageName"
                placeholder="NPM package name"
                [(ngModel)]="npmPackageName"
                (input)="getPackageSuggestion()"
            />
        </form>
    </div>
    <ul *ngIf="!packageSelected"
        [ngClass]="{border: (listPackages$ | async)?.length > 0}">
        <li 
            *ngFor="let package of (listPackages$ | async)"
            (click)="fetchData(package)"
        >
            {{package.package.name}}
        </li>

    </ul>
    <div
        *ngIf="packageSelected"
    >
        <h2>
            Latest version: {{packageSelected.name}}@{{packageSelected.version}}
        </h2>
        <div 
            class="lds-ripple"
            *ngIf="isLoading"
        >
            <div></div>
            <div></div>
        </div>
        <ng-container 
            *ngIf="packageData"
        >
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th
                            *ngFor="let package of packageData.listPackages"
                        >
                            {{package.version}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Minified size</th>
                        <td
                            *ngFor="let package of packageData.listPackages"
                        >
                            {{package.size | filesize}}
                        </td>
                    </tr>
                    <tr>
                        <th>Gzipped size</th>
                        <td
                            *ngFor="let package of packageData.listPackages"
                        >
                            {{package.gzippedSize | filesize}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <div class="chartContainer">
            <canvas id="{{chartId}}" ></canvas>
        </div>
    </div>
</div>