$blueColor:  rgb(113, 183, 241);

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}
.container > div {
    margin-top: 40px;
}

input {
    width: 250px;
}

ul {
    margin: auto;
    width: 250px;
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: left;
    &.border {
        border: 2px solid $blueColor;
    }
    li {
        margin: 2px 0;
        padding-left: 4px;
        &:hover {
            background-color: $blueColor;
        }
    }
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

    tbody td:nth-child(odd) {
        background-color: rgb(222, 231, 243);
    }
    td, th {
        border: 1px solid lightgray;
        padding: 5px;
    }
}

.chartContainer {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}
/* Loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $blueColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }