.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}
.container > div {
    margin-top: 40px;
}

input {
    width: 300px;;
}

ul {
    margin: auto;
    padding: 10px 0;
    width: 300px;
    list-style-type: none;
    padding-inline-start: 0;
    &.border {
        border: 3px solid rgb(113, 183, 241);
    }
    li:hover {
        background-color: lightskyblue;
    }
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
        border: 1px solid rgb(162, 162, 219)
    }
}

.chartContainer {
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}