<div class="container">
    <div>
        <form name="getNpmSuggestions" autocomplete="off">
            <input 
                name="packageName"
                placeholder="NPM package name"
                [(ngModel)]="npmPackageName"
                (input)="getPackageSuggestion()"
            />
        </form>
    </div>
    <ul *ngIf="!packageSelected"
        [ngClass]="{border: (listPackages$ | async)?.length > 0}">
        <li 
            *ngFor="let package of (listPackages$ | async)"
            (click)="fetchData(package)"
        >
            {{package.package.name | json}}
        </li>

    </ul>
    <div
        *ngIf="packageSelected"
    >
        <h2>
            {{packageSelected.name}}@{{packageSelected.version}}
        </h2>
        <ng-container 
            *ngIf="packageData"
        >
            <div
               *ngFor="let package of packageData.listPackages"
                class="packageData"
            > 
                <div>
                    {{packageData.name}}@{{package.version}} : {{package.size}}
                </div>
                <div>
                    <!-- Package Gzipped size: {{package.gzippedSize}} -->
                </div>
            </div> 
        </ng-container>
        <canvas id="{{chartId}}" ></canvas>
        <button (click)="packageSelected = null" >Back to search</button>
    </div>
</div>